* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Azeret Mono', monospace;
  
}
h1{
  color: white;
  text-align: center;
}
h2{
  color:rgba(245, 245, 245, 0.842) ;
  text-align: center;
}
main {
  background: rgb(140, 134, 155);
  background: radial-gradient(circle, rgb(111, 108, 114) 0%, rgba(72,25,228,1) 100%); 
}

/*//////////////////////////
  ITEM LIST STYLE SECTION  - see ItemList.js
//////////////////////////*/
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-container {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}

.item-image-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

.item-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.item-image:hover {
  width: 120px;
  height: 120px;
}

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-name {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: #5123E5;
}

.item-description {
  margin-bottom: 10px;
  color: #8961E9;
}

.item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin-top: auto; /* Pushes the item-bottom to the bottom of the container */
}

.item-category {
  font-size: 14px;
}

.item-id {
  width: 100%;
  background-color: white;
}

.item-category { 
  font-size: 14px; 
  flex-basis: 50%;

  text-align: left;
  background-color: white;
  color: #5123E5;
  font-weight: bold;
}

.item-price {
  font-weight: bold;
  text-align: right;
  background-color: white;
  font-size: 14px;
  color: #5123E5;
} 
 /*////////////////
  SINGLE ITEM VIEW - see ListItems.js
////////////////*/ 

.single-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  max-width: 400px;
  color: white;
  margin: 0 auto; /* Added to center the item horizontally */
  height: 100vh; /* Added to center the item vertically */
}

.single-item-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.single-item-image-container {
  margin-bottom: 20px;
}

.single-item-image {
  width: 200px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 5px;
}

.single-item-image:hover {
  opacity: 80%;
}

.single-item-info {
  margin-bottom: 20px;
}

.single-item-description {
  margin-bottom: 10px;
}

.single-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-item-category {
  font-weight: bold;
}

.single-item-price {
  font-weight: bold;
}

   
/*//////////////
    FORM - styling for each of the forms
//////////////*/

.form-container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; 
  color:blue; 
}
/*the form-item class has been applied to every input field on the form */
.form-item {
  color:blue;
}
/*change placeholder text compatibility with Chrome, Firefox, Opera, Safari 10.1+ */
.form-item::placeholder {
  color:blue;
  opacity: 1; /* Firefox due to it having a standard of adding a lower opacity to the placeholder*/
}
/*change placeholder text compatibility with Internet Explorer 10-11*/
.form-item:-ms-input-placeholder {
  color:blue;
}
.form-item::-ms-input-placeholder { /* Microsoft Edge */
  color:blue;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Needed for Product Id styling on the DeleteForm*/
input[type=number], select, textarea{
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
 
 
/* Style the submit button UodateForm and AddForm*/
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
 
  

/*////////////////
    BUTTONS
///////////////*/

button{
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px ;

}
/*btn-standard class is applied to return and submit buttons*/

.btn-standard{
  color: #5D3FD3; 
}

.btn-standard:hover{
  font-weight: bold;
}

/*btn-alert would be for things that require users close attention such as delete*/
.btn-alert{
  color: coral;
 
}

.btn-alert:hover{
  font-weight: bold;
}